.item1 {
  height: 250px;
  width: 100%;
}

.item2 {
  height: 250px;
  width: 90%;
}

.item3 {
  height: 250px;
  width: 90%
}

.item4 {
  height: 250px;
  width: 90%;
}

.item5 {
  height: 250px;
  width: 90%;
}
