.item1 {
  height: 250px;
  width: 100%;
}

.item2 {
  height: 250px;
  width: 100%;
}

.item3 {
  height: 250px;
  width: 100%
}

.item4 {
  height: 250px;
  width: 100%;
}

.item5 {
  height: 250px;
  width: 100%;
}

.firPic {
  height: 70px;
  width: 70%;
}