.item1 {
  height: 800px;
  width: 100%;
  background-color: red;
}

.item2 {
  height: 800px;
  width: 100%;
  background-color: blue;
}

.item3 {
  height: 800px;
  width: 100%;
  background-color: green;
}

.item4 {
  height: 800px;
  width: 100%;
  background-color: gray;
}

.item5 {
  height: 800px;
  width: 100%;
  background-color: black;
}
