.firPic {
  height: 650px;
  width: 100%;
}

.secPic {
  height: 650px;
  width: 100%;
}

.therPic {
  height: 650px;
  width: 100%;
}

.fourPic {
  height: 650px;
  width: 100%;
}

.fivPic {
  height: 650px;
  width: 100%;
}

.imgeSlide {
  height: 650px;
  width: 100%;
}